<div *ngIf="taskData" class="card-container">
    <div class="task-list">
        <mat-card class="task-card" *ngIf="taskData">
            <div class="task-details">
                <h2 class="task-name">{{taskData.title}}</h2>

                <p class="task-desricption">{{taskData.description}}</p>

                <mat-divider></mat-divider>

                <div class="task-info">
                    <div class="info-row">
                        <span class="info-label">Срок Выполнения:</span>
                        <span class="info-value">{{taskData.dueDate | date: 'MMM d, y'}}</span>
                    </div>

                    <div class="info-row">
                        <span class="info-label">Сотрудник</span>
                        <span class="info-value">{{taskData.employeeName}}</span>
                    </div>

                    <div class="info-row">
                        <span class="info-label">Приоритет:</span>
                        <span class="info-value">{{taskData.priority}}</span>
                    </div>

                    <div class="info-row">
                        <span class="info-label">Статус:</span>
                        <span class="info-value">{{taskData.taskStatus}}</span>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>

    <mat-card class="comment-card">
        <mat-card-content>
            <h4>Опубликовать свой комментарий</h4>
            <div>
                <form [formGroup]="commentForm">
                    <mat-form-field appearance="fill">
                        <mat-label>Содержимое</mat-label>
                        <textarea matInput formControlName="content"></textarea>
                    </mat-form-field>

                    <button mat-raised-button color="primary" style="float: right;" [disabled]="!commentForm.valid"
                        (click)="publishComment()">Оставить комментарий</button>
                </form>
            </div>
        </mat-card-content>
    </mat-card>

    <div style="margin-top: 10px;">
        <h4>Комментарии</h4>
        <mat-card *ngFor="let comment of comments" style="margin-top: 10px;">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{comment.postedName}}</mat-card-title>
                <mat-card-subtitle>{{comment.createdAt | date: 'medium'}}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content class="comment-field">
                {{comment.content}}
            </mat-card-content>
        </mat-card>
    </div>
</div>