.task-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 40vh;

    .task-card {
        margin-bottom: 20px;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

        .task-details {
            padding: 20px;

            .task-name {
                font-size: 24px;
                font-weight: 600;
                color: #108ee9;
                margin-bottom: 30px;
            }

            .task-description {
                margin-bottom: 10px;
                white-space: pre-wrap;
            }

            .task-info {
                gap: 12px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin-bottom: 10px;
                margin-top: 30px;

                .info-row {
                    flex: 0 0 50%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;
    
                    .info-label {
                        font-weight: 10px;
                        margin-right: 5px;
                    }

                    .info-value {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
            .actions {
                display: flex;
                justify-content: flex-end;
                margin-top: 10px;
            
                .update-button {
                    margin-right: 10px;
                }
            
                .view-button {
                    margin-right: 10px;
                }
            }
        }
    }
}

form {
    display: flex;
    flex-direction: column;
}

button {
    max-width: 40%;
}

.card-container {
    margin: 16px;
    max-width: 65%;
    padding-bottom: 30px;
}

mat-card {
    padding: 10px;
}

.example-header-image {
    background-image:
    url('https://png.pngtree.com/png-vector/20220724/ourmid/pngtree-profile-icon-profile-account-employee-vector-png-image_38122508.png');
    background-size: cover;
}

mat-card-content {
    margin-top: 10px;
}

.comment-field {
    white-space: pre-line;
}

mat-card-footer {
    margin-left: 20px;
}

.img {
    object-fit: cover;
}

.comment-card {
    margin-top: 20px;
}

.mat-form-field {
    width: 100%;
}

textarea {
    width: 100%;
}